.order_item_card {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  padding: 12px 15px;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 100px;
  margin-bottom: 20px;
}
.order_item_card img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.item_image_box {
  flex: 0 0 10%;
}
.order_item_details {
  flex: 0 0 70%;
}
.item_buttons {
  flex: 0 0 10%;
  text-align: center;
}
.order_item_details h3 {
  color: #1c2b35;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.032px;
  margin: 0;
}
.order_item_details p {
  color: #1c2b35;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.038px;
  margin: 0;
  margin-top: 5px;
}
.order_item_details p span {
  color: #f90;
}
.item_delete_button {
  background: rgba(235, 87, 87, 0.3);
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  color: rgba(235, 87, 87, 1);
  font-size: 18px;
  cursor: pointer;
}
